<section class="books-container">
    <header>
        <%=books.length%>
            <h1>Saved Book</h1>
            <a href="/">HOME PAGE</a>
    </header>
    
        <div class="grid-item">
            <br>
            <img class="book-img" src="<%=books[0].image_url%>">
            <br>
            <p class="book-title">
                <%=books[0].title%>
            </p><br>
            <p class="book-author">
                <%=books[0].author%>
            </p><br>

            <p class="book-desc">
                <%=books[0].description%>
            </p><br>
            <button id="updateBtn" class="popup" onclick="myFunction()" >Update Details</button>
        </div>
        <section id="delete-form">
            <form action="/books/<%=books[0].id%>?_method=DELETE" method="POST">
                <button type="submit"> Delete Task</button>
        
            </form>
</section>
<script>
    // When the user clicks on <div>, open the popup
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
    </script>
    
        <%- include( './edit' ) %>